---
title: Airflow
---

<header>
  <svg version="1.1" id="airbnb_x5F_symbol_x5F_RGB" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
   x="0px" y="0px" viewBox="0 0 283.5 292.2" enable-background="new 0 0 283.5 292.2" xml:space="preserve">
    <rect x="0" y="0" fill="none" width="283.5" height="292.2"/>
    <path fill="#ffffff" d="M209.5,177.3c-0.7-1.9-1.5-3.7-2.2-5.4c-1.2-2.6-2.4-5.2-3.5-7.8l-0.1-0.2c-10.4-22.6-21.6-45.5-33.2-68
      l-0.5-1c-1.2-2.3-2.4-4.7-3.7-7c-1.5-2.7-3.1-5.6-5.4-8.3c-5-5.8-11.8-9-19.3-9c-7.5,0-14.3,3.2-19.3,9c-2.3,2.7-3.9,5.6-5.4,8.3
      c-1.3,2.4-2.5,4.8-3.7,7.1l-0.5,0.9c-11.6,22.6-22.8,45.4-33.2,68l-0.2,0.3c-1.1,2.5-2.3,5.1-3.5,7.6c-0.7,1.7-1.5,3.5-2.2,5.4
      c-2,5.5-2.6,10.8-1.8,16.2c1.6,11.2,9.1,20.8,19.6,25.1c3.9,1.6,8,2.4,12.3,2.4c1.3,0,2.6-0.1,4-0.2c5-0.6,10.1-2.3,15.1-5.1
      c6.1-3.4,12.1-8.5,18.7-15.6c6.6,7.2,12.6,12.2,18.7,15.6c5,2.8,10.1,4.5,15.1,5.1c1.3,0.2,2.6,0.2,4,0.2c4.3,0,8.4-0.8,12.3-2.4
      c10.5-4.3,18-13.9,19.6-25.1C212,188.2,211.5,182.9,209.5,177.3z M141.6,185.2c-8.1-10.3-13.4-19.9-15.2-28
      c-0.8-3.4-0.9-6.5-0.5-9.2c0.4-2.4,1.2-4.5,2.4-6.3c2.8-4.1,7.8-6.5,13.3-6.5c5.5,0,10.5,2.4,13.3,6.5c1.2,1.8,2.1,3.9,2.4,6.3
      c0.4,2.7,0.2,5.9-0.5,9.2C155,165.3,149.8,174.8,141.6,185.2z M201.8,192.2c-1.1,7.8-6.4,14.6-13.7,17.5c-3.6,1.5-7.5,2-11.5,1.5
      c-3.8-0.4-7.6-1.7-11.5-3.9c-5.4-3.1-10.9-7.7-17.1-14.6c9.8-12.2,16-23.4,18.3-33.3c1-4.6,1.3-8.9,0.7-12.8
      c-0.6-3.8-1.9-7.3-4-10.3c-4.6-6.7-12.5-10.7-21.2-10.7c-8.7,0-16.6,4-21.2,10.7c-2.1,3-3.4,6.5-4,10.3c-0.6,3.9-0.4,8.3,0.7,12.8
      c2.3,10,8.4,21.2,18.3,33.3c-6.2,6.9-11.7,11.6-17.1,14.6c-3.9,2.2-7.7,3.5-11.5,3.9c-4,0.5-7.9-0.1-11.5-1.5
      c-7.3-3-12.6-9.7-13.7-17.5c-0.5-3.8-0.1-7.5,1.3-11.6c0.5-1.5,1.2-3,1.9-4.8c1.1-2.5,2.3-5,3.4-7.5l0.2-0.3
      c10.3-22.4,21.5-45.2,33-67.6l0.5-0.9c1.2-2.3,2.4-4.7,3.6-6.9c1.3-2.4,2.6-4.7,4.2-6.6c3.1-3.7,7.3-5.6,12-5.6
      c4.7,0,8.8,1.9,12,5.6c1.7,2,3,4.3,4.2,6.6c1.2,2.3,2.4,4.6,3.6,6.9l0.5,1c11.6,22.4,22.7,45.2,33,67.6l0.1,0.2
      c1.2,2.5,2.3,5.1,3.5,7.6c0.8,1.8,1.4,3.3,1.9,4.8C201.9,184.7,202.3,188.4,201.8,192.2z"/>
    </svg>
    <h3>Airflow</h3>

    <!-- <div class="zoom">
      <span>Zoom</span>
      <a href="#" class="node zoomOut">-</a>
      <a href="#" class="node zoomIn">+</a>
    </div> -->
</header>

<aside>
  <a href="#" class="close"></a>  
</aside>

<div class="wrapper" id="Wrapper">
  <nav class="tools">
    <a href="#" class="dragToggle on" id="flow">
      <span>
      <svg width="100px" height="100px" viewBox="0 0 404 404" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="noun_50814_cc" transform="translate(2.000000, 2.000000)" stroke="#ffffff" stroke-width="15" fill="#ffffff">
            <path d="M120,400 L24,400 C10.766,400 0,389.234 0,376 L0,280 C0,266.766 10.766,256 24,256 L120,256 C133.234,256 144,266.766 144,280 L144,376 C144,389.234 133.234,400 120,400 L120,400 Z M24,272 C19.589,272 16,275.589 16,280 L16,376 C16,380.411 19.589,384 24,384 L120,384 C124.411,384 128,380.411 128,376 L128,280 C128,275.589 124.411,272 120,272 L24,272 L24,272 Z" id="Shape"></path>
            <path d="M376,144 L280,144 C266.766,144 256,133.234 256,120 L256,24 C256,10.766 266.766,0 280,0 L376,0 C389.234,0 400,10.766 400,24 L400,120 C400,133.234 389.234,144 376,144 L376,144 Z M280,16 C275.589,16 272,19.589 272,24 L272,120 C272,124.411 275.589,128 280,128 L376,128 C380.411,128 384,124.411 384,120 L384,24 C384,19.589 380.411,16 376,16 L280,16 L280,16 Z" id="Shape"></path>
            <path d="M168,336 L168,320 C168.021,320 174.611,319.888 180.828,316.637 C188.346,312.707 192,305.957 192,296 L192,104 C192,87.915 199.253,75.429 212.422,68.845 C221.839,64.136 230.988,64 232,64 L232.044,80 C231.978,80 225.389,80.112 219.171,83.363 C211.654,87.293 208,94.043 208,104 L208,296 C208,312.085 200.747,324.571 187.578,331.155 C178.161,335.864 169.012,336 168,336 L168,336 Z" id="Shape"></path>
          </g>
        </g>
      </svg>
      </span>
      Flow Mode
    </a>
    <a href="#" class="dragToggle" id="move">
      <span>
        <svg width="93px" height="94px" viewBox="0 0 93 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
            <g id="noun_282943_cc" transform="translate(1.000000, 2.000000)" stroke="#000000" stroke-width="4" fill="#000000">
              <path d="M55.005,12.224 C55.146,12.356 55.335,12.44 55.544,12.439 C55.983,12.439 56.339,12.084 56.336,11.647 C56.337,11.438 56.255,11.247 56.122,11.107 L56.114,11.1 C56.106,11.091 44.999,0 44.999,0 C44.999,0 33.892,11.093 33.886,11.1 L33.878,11.107 C33.747,11.248 33.663,11.439 33.662,11.648 C33.663,12.086 34.018,12.441 34.454,12.44 C34.664,12.44 34.854,12.357 34.995,12.224 L34.999,12.227 L44.208,3.018 L44.207,44.207 L3.018,44.208 L12.227,34.999 L12.225,34.997 C12.356,34.855 12.44,34.665 12.44,34.456 C12.44,34.019 12.085,33.664 11.647,33.663 C11.438,33.663 11.249,33.747 11.107,33.878 L11.1,33.886 C11.092,33.893 0,45 0,45 C0,45 11.092,56.107 11.1,56.115 L11.108,56.123 C11.249,56.256 11.439,56.338 11.647,56.338 C12.086,56.338 12.441,55.984 12.44,55.545 C12.44,55.337 12.358,55.147 12.225,55.006 L12.227,55.002 L3.018,45.793 L44.207,45.793 L44.206,86.981 L34.999,77.774 L34.995,77.776 C34.854,77.643 34.665,77.56 34.456,77.561 C34.017,77.561 33.661,77.915 33.663,78.354 C33.663,78.562 33.745,78.753 33.878,78.893 L33.886,78.901 C33.894,78.909 45.002,90 45.002,90 C45.002,90 56.108,78.907 56.114,78.901 L56.122,78.893 C56.253,78.752 56.337,78.562 56.339,78.354 C56.336,77.916 55.982,77.561 55.546,77.561 C55.335,77.561 55.146,77.643 55.005,77.776 L55.001,77.774 L45.792,86.983 L45.792,45.793 L86.983,45.792 L77.774,55.001 L77.776,55.004 C77.643,55.147 77.56,55.336 77.561,55.545 C77.56,55.983 77.915,56.338 78.353,56.337 C78.561,56.338 78.752,56.254 78.892,56.122 L78.9,56.113 C78.907,56.106 90,45 90,45 C90,45 78.909,33.893 78.9,33.884 L78.893,33.877 C78.752,33.745 78.562,33.662 78.353,33.663 C77.915,33.662 77.56,34.017 77.561,34.455 C77.561,34.663 77.643,34.853 77.776,34.994 L77.773,34.997 L86.982,44.206 L45.792,44.207 L45.794,3.018 L55.002,12.226 L55.005,12.224 L55.005,12.224 Z" id="Shape"></path>
            </g>
          </g>
        </svg>
      </span>
      Move Mode
    </a>
  </nav>
  <div class="jtk-demo-canvas canvas-wide flowchart-demo jtk-surface jtk-surface-nopan" id="canvas">
    <div class="window jtk-node" id="flowchartWindow1" data-sidebar="no" data-image="a.png" data-description="Here is a longer descirption of what this step in the flow might be describing. This gives us an opportunity to write anything related to this step of the flow"><p>Need Help</p></div>
    <div class="window jtk-node" id="flowchartWindow2" data-sidebar="yes" data-image="b.png" data-description="Here is a longer descirption of what this step in the flow might be describing. This gives us an opportunity to write anything related to this step of the flow"><p>I can't Get in</p></div>
    <div class="window jtk-node" id="flowchartWindow3" data-sidebar="yes" data-image="c.png" data-description="Here is a longer descirption of what this step in the flow might be describing. This gives us an opportunity to write anything related to this step of the flow"><p>I don't feel safe</p></div>
    <div class="window jtk-node" id="flowchartWindow4" data-sidebar="yes" data-image="d.png" data-description="Here is a longer descirption of what this step in the flow might be describing. This gives us an opportunity to write anything related to this step of the flow"><p>Nevermind</p></div>
  </div>
</div>